<!-- <div style="background-color: blueviolet;">

<nav class="navbar bg-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/country">Country</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  routerLink="/state">State</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  routerLink="/dist">Dist</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
</div> -->

<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background:rgb(138, 47, 118);}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
</style>
<body class="w3-green">
<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
  <!-- Avatar image in top left corner -->

  <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hover-black" routerLink="/country">
    <i class="w3-jumbo w3-spin fa fa-plane w3-xxlarge"></i>
    <p>COUNTRY</p>
  </a>
  <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hover-black"  routerLink="/state" >
    <i class="fa w3-jumbo w3-spin  fa fa-car w3-xxlarge"></i>
    <p>STATE</p>
  </a>

  <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hover-black"  routerLink="/dist">
    <i class="fa w3-jumbo w3-spin fa fa-home w3-xxlarge"></i>
    <p>DISTRICT</p>
  </a>
</nav>




<div class="w3-padding-large" id="main">

  <router-outlet></router-outlet>

  </div>


